.status {
    display: flex;
}

.status > p, button {
    margin: 10px;
}

.task {
    border: solid 2px black;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    max-height: 300px;
    padding: 10px;
    margin: 2px;
}

.lists {
    display: flex;
}