.status {
    margin: 20px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

p, button {
    margin: 2px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
}

.lists {
    display: flex;
    margin: 10px 30px 10px 30px;
}

.column {
    width: 25%;
    margin: 10px;
}

.nav {
    display: flex;
    position: fixed;
    top: 0;
    background: white;
    width: 100%;
    margin: auto;
}

.displayListRowColumn {
    display: flex;
    flex-wrap: wrap;
}

.modif {
    display: flex;
    justify-content: flex-end;
}

.modal {
    font-size: 24px;
    border-radius: 10px;
}
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 32px;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    width: 100%;
    padding: 10px 5px;
}